<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Me</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <nav class="topnav">
        <a href="index.html" >FFT Algorithm</a>
        <a href="about_me.html" class="active">About Me</a>
    </nav>
    <header>
        <div id="logo">
            <img src="pi.png" alt="Pi_logo" id="circular-image">
        </div>
    </header>
    <main>
        <article id="text1">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laboriosam ut a cupiditate repellendus aperiam nesciunt itaque fuga quam animi ipsa eaque error, doloribus libero sunt sequi consequuntur exercitationem assumenda dolore numquam voluptate voluptatum voluptas consectetur. Atque officiis mollitia eius id! Omnis reprehenderit voluptatum beatae ad ratione illo voluptates, quos officiis illum optio magnam magni accusantium adipisci eos consectetur harum quia. Perferendis laboriosam nobis, aliquid sapiente cupiditate harum quaerat et quisquam corrupti sint consectetur vel ullam cum, officia ea illo debitis! Earum accusantium, officia exercitationem dolor facilis deleniti ipsa ea dolorem, qui soluta dolore laborum commodi voluptatibus eum quam impedit neque.
        </article>
        <article id="text2">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto, vero repellat deleniti iure quas voluptates, tempore laudantium quibusdam corporis optio assumenda perspiciatis asperiores illum explicabo nam. Aut quae ea error. Veritatis voluptas quas nostrum vel cumque aliquam, tenetur modi voluptatum sit voluptatibus! Itaque doloribus perspiciatis nihil impedit illum, cumque rem voluptates tempore tenetur vero, in pariatur iure, sint hic ad. Laboriosam animi atque vitae pariatur voluptate corporis praesentium aliquam libero, commodi nemo, quia dolorem? Illum accusamus rem dignissimos adipisci excepturi autem corporis! Saepe laborum illo accusantium recusandae asperiores earum reiciendis dolore libero repudiandae, ducimus, eligendi, alias enim inventore vero omnis?
        </article>
        <article id="text3">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente distinctio numquam animi suscipit excepturi consectetur doloribus, voluptate deserunt ea consequuntur nemo, aliquam, rerum impedit eaque voluptatum dolores ipsam beatae unde vero quasi in. Officiis id minus voluptate dolorum, autem quod quis facilis laborum temporibus vero enim blanditiis! Natus sapiente consectetur aliquid consequatur dolore quidem harum explicabo ab eaque suscipit repellendus eligendi, magnam incidunt sunt id debitis ex necessitatibus, distinctio quo veniam cupiditate ipsam minima. Harum recusandae quidem repellendus explicabo eaque alias commodi perspiciatis ab? Unde quaerat libero deleniti. Ipsum minus voluptatem tempore dolor illo nulla vel unde excepturi magni nemo?
        </article>
    </main>
    <footer>
    </footer>
</body>
</html>

