<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page: UI</title>
    <link rel="stylesheet" href="../static/css/styles.css">
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
</head>
<body>
    <nav class="topnav">
        <a href="{{url_for('index')}}" class="active">FFT Algorithm</a>
        <a href="{{url_for('about_me')}}">About Me</a>
    </nav>
    <header>
        <div id="logo">
            <img src="../static/images/pi.png" alt="Pi_logo" id="circular-image">
        </div>
        <div id="intro_text">
            Multiply these functions together and visualize the FFT/IFFT Algorithm
        </div>
        <div id="sticky_info">
            Instructions: Start by inputting two polynomial functions in the \(f(x)\) field and \(g(x)\) field below and hit calculate! <br><br> Note it is important to only put polynomial functions (e.g. \(2x + 4x^2\)). <br><br>Avoid inputs like \(sin(x)\), \(ln(x)\), or \(x^{-2}\).
        </div>
        <form id='send_form' method="POST" action="">
            <div id="input-container1">
                <label id="function_f_input" for="firstNo">Enter \(f(x)\):</label>
                <input name="f_input_value" type="text" id="f_input_value" placeholder="ex: 1 + x + 2x + 3x^2" value="x^2" required>
            </div>
            <div id="input-container2">
                <label id ="function_g_ipnut" for="secondNo">Enter \(g(x)\):</label>
                <input name="g_input_value" type="text" id="g_input_value" placeholder="ex: 2 + 3x + 4x^2" value="x^3" required>
            </div>
            <input class="button" id="calculate_button" type="submit" value="Calculate">
        </form>                                                                                                                                                                                 
    </header>
    <main>
    </main>
    <footer>
    </footer>
</body>
</html>

